

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.mainElement {
    columns: 2;
    width: 600px;
    height: 450px;
    background-color: white;
}

img[src="images/image-product-desktop.jpg"] {
    width: 300px;
}

#secondColumn {
    padding: 20px;
    margin-left: 20px;
    margin-right: 40px;
}

#product {
   font-family: 'Montserrat';
   font-weight: 500; 
   letter-spacing: 6px;
   color: hsl(228, 12%, 48%);
   }
#productTitle {
    font-family: 'Fraunces';
    font-weight: 700;
    color: hsl(212, 21%, 14%);
}

#productDescription {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

#price {
    font-family: 'Fraunces';
    color: hsl(158, 36%, 37%);
}

#oldPrice{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    display: flex;
}


#addToCartButton{
    padding: 20px 40px;
    background-color: hsl(158, 36%, 37%);
    font-family: 'Montserrat';
    color: hsl(0, 0%, 100%);
    font-size: large;
    display: flex;
    align-items: flex-end;
 
}
